﻿ <!DOCTYPE html>
<html lang="en-US" ng-app="">
<link rel="stylesheet" href="styles.css" />
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>
<div id="container">

  <p>Name : <input type="text" ng-model="name"></p>
  <h1>Hello {{name}}</h1>



</div><!-- #container -->
</body>
</html> 