﻿body {background-color: #eee; font: 14px Verdana, sans-serif;}
#container {margin: 100px auto 0; width: 1000px;}
ul {padding: 0; margin: 0; margin-left: 10px;}
/*.boysList ul li {display: inline-block; float: left; clear: left; list-style: none; border-bottom: 1px solid blue;}*/